<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>x86</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://picturestamprallywebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>picturestamprallywebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PictureStampRallyWebApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PictureStampRallyWebApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Connect2016TZEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=connect2016-fcs-team-z.database.windows.net;Initial Catalog=Connect2016TZ;Persist Security Info=True;User ID=fcs;Password=Pass1234;Application Name=EntityFramework" Name="Data Source=connect2016-fcs-team-z.database.windows.net;Initial Catalog=Connect2016TZ;Persist Security Info=True;User ID=fcs;Password=Pass1234;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=connect2016-fcs-team-z.database.windows.net;Initial Catalog=Connect2016TZ;Persist Security Info=True;User ID=fcs;Password=Pass1234;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Connect2016TZEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DB.Connect2016TZ.csdl|res://*/Models.DB.Connect2016TZ.ssdl|res://*/Models.DB.Connect2016TZ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=connect2016-fcs-team-z.database.windows.net;initial catalog=Connect2016TZ;persist security info=True;user id=fcs;password=Pass1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Connect2016TZEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DB.Connect2016TZ.csdl|res://*/Models.DB.Connect2016TZ.ssdl|res://*/Models.DB.Connect2016TZ.msl;provider=System.Data.SqlClient;provider connection string="data source=connect2016-fcs-team-z.database.windows.net;initial catalog=Connect2016TZ;persist security info=True;user id=fcs;password=Pass1234;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>